nodered/data/.flows.json.backup
[
    {
        "id": "16c28e429371841e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b22a14a6c6c84ecf",
        "type": "mqtt-broker",
        "name": "MQTT Broker",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c32de8e4c8baefe3",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "InfluxDB",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "82c509767b86bedd",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "912d48843f25675e",
        "type": "telegram bot",
        "botname": "mpga_alert_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "testenvironment": false,
        "updatemode": "polling",
        "pollinterval": 300,
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": 6667,
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbothost": "0.0.0.0",
        "localbotport": 8443,
        "publicbotport": 8443,
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "70bc6ce8758ac78b",
        "type": "mqtt in",
        "z": "16c28e429371841e",
        "name": "",
        "topic": "City/data/#",
        "qos": "1",
        "datatype": "json",
        "broker": "b22a14a6c6c84ecf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 320,
        "wires": [
            [
                "eaca2a9816b18617",
                "f4088b8a4cdfe38d"
            ]
        ]
    },
    {
        "id": "f4088b8a4cdfe38d",
        "type": "function",
        "z": "16c28e429371841e",
        "name": "JSON Parser",
        "func": "var data = msg.payload;\nif (typeof data === 'string') {\n    try {\n        data = JSON.parse(data);\n    } catch (e) {\n        node.warn(\"Error parsing JSON\");\n        return null;\n    }\n}\n\nvar topicParts = msg.topic.split('/');\nvar location = topicParts.length > 2 ? topicParts[2] : \"unknown\";\nvar sensorType = topicParts.length > 3 ? topicParts[3] : \"unknown\";\nvar unit = data.unit || \"value\";\n\nvar fields = {};\nfields[unit] = parseFloat(data.value) || 0;\nfields[\"lat\"] = parseFloat(data.lat) || 0;\nfields[\"lon\"] = parseFloat(data.lon) || 0;\n\nmsg.measurement = \"sensors\";\nmsg.payload = [\n    fields,\n    {\n        sensorid: String(data.sensorid || \"unknown\"),\n        location: String(location),\n        type: String(sensorType),\n        timestamp: String(data.timestamp ? new Date(data.timestamp) : new Date())\n    }\n];\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 400,
        "wires": [
            [
                "ab641faf5dbb3994"
            ]
        ]
    },
    {
        "id": "eaca2a9816b18617",
        "type": "debug",
        "z": "16c28e429371841e",
        "name": "Debug LOGS",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 320,
        "wires": []
    },
    {
        "id": "ab641faf5dbb3994",
        "type": "influxdb out",
        "z": "16c28e429371841e",
        "influxdb": "c32de8e4c8baefe3",
        "name": "",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "iot_org",
        "bucket": "iot_bucket",
        "x": 620,
        "y": 400,
        "wires": []
    },
    {
        "id": "aef123850d7b152c",
        "type": "mqtt in",
        "z": "16c28e429371841e",
        "name": "",
        "topic": "City/alerts/#",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "82c509767b86bedd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 140,
        "wires": [
            [
                "c6016708cfcabcb3",
                "5115b4d5de3b8dd0"
            ]
        ]
    },
    {
        "id": "5ecafadf4c2b600c",
        "type": "telegram sender",
        "z": "16c28e429371841e",
        "name": "Channel Notificator",
        "bot": "912d48843f25675e",
        "haserroroutput": false,
        "outputs": 1,
        "x": 690,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "c6016708cfcabcb3",
        "type": "debug",
        "z": "16c28e429371841e",
        "name": "Debug ALERTS",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 140,
        "wires": []
    },
    {
        "id": "5115b4d5de3b8dd0",
        "type": "function",
        "z": "16c28e429371841e",
        "name": "Message Setup",
        "func": "var chatId = env.get(\"TELEGRAM_CHAT_ID\");\n\nmsg.payload = {\n    chatId: chatId,\n    type: 'message',\n    content: msg.payload\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 220,
        "wires": [
            [
                "5ecafadf4c2b600c"
            ]
        ]
    },
    {
        "id": "12424743913129f2",
        "type": "mqtt in",
        "z": "16c28e429371841e",
        "name": "",
        "topic": "City/update/#",
        "qos": "1",
        "datatype": "json",
        "broker": "b22a14a6c6c84ecf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 500,
        "wires": [
            [
                "04a97613b16afc16",
                "thresh_parser_001"
            ]
        ]
    },
    {
        "id": "04a97613b16afc16",
        "type": "debug",
        "z": "16c28e429371841e",
        "name": "Debug UPDATES",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 500,
        "wires": []
    },
    {
        "id": "em_mqtt_in_001",
        "type": "mqtt in",
        "z": "16c28e429371841e",
        "name": "Emergency Events",
        "topic": "City/emergency",
        "qos": "1",
        "datatype": "json",
        "broker": "b22a14a6c6c84ecf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 620,
        "wires": [
            [
                "em_debug_001",
                "em_parser_001",
                "f01d5a803f11b214"
            ]
        ]
    },
    {
        "id": "em_debug_001",
        "type": "debug",
        "z": "16c28e429371841e",
        "name": "Debug EMERGENCY",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 600,
        "wires": []
    },
    {
        "id": "em_parser_001",
        "type": "function",
        "z": "16c28e429371841e",
        "name": "Emergency Parser",
        "func": "var data = msg.payload;\nif (typeof data === 'string') {\n    try { data = JSON.parse(data); } catch (e) { return null; }\n}\n\nvar emType = data.type || 'unknown';\nvar location = data.location || 'unknown';\nvar severity = data.severity || 'none';\nvar active = data.active ? 1 : 0;\n\nmsg.measurement = 'emergencies';\nmsg.payload = [\n    {\n        active: active,\n        severity_level: severity === 'catastrophic' ? 3 : (severity === 'critical' ? 2 : (severity === 'warning' ? 1 : 0))\n    },\n    {\n        emergency_type: String(emType),\n        location: String(location),\n        severity: String(severity)\n    }\n];\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 680,
        "wires": [
            [
                "em_influx_001"
            ]
        ]
    },
    {
        "id": "em_influx_001",
        "type": "influxdb out",
        "z": "16c28e429371841e",
        "influxdb": "c32de8e4c8baefe3",
        "name": "Store Emergency",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "iot_org",
        "bucket": "iot_bucket",
        "x": 640,
        "y": 680,
        "wires": []
    },
    {
        "id": "thresh_parser_001",
        "type": "function",
        "z": "16c28e429371841e",
        "name": "Threshold Parser",
        "func": "var data = msg.payload;\nif (typeof data === 'string') {\n    try { data = JSON.parse(data); } catch (e) { return null; }\n}\n\n// Only handle threshold updates\nif (msg.topic !== \"City/update/thresholds\") return null;\n\nvar thresholds = data.thresholds;\nif (!thresholds) return null;\n\nvar messages = [];\nvar types = Object.keys(thresholds);\nfor (var i = 0; i < types.length; i++) {\n    var t = types[i];\n    messages.push({\n        measurement: \"thresholds\",\n        payload: [\n            { value: parseFloat(thresholds[t]) },\n            { type: String(t) }\n        ]\n    });\n}\nreturn [messages];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 560,
        "wires": [
            [
                "thresh_influx_001"
            ]
        ]
    },
    {
        "id": "thresh_influx_001",
        "type": "influxdb out",
        "z": "16c28e429371841e",
        "influxdb": "c32de8e4c8baefe3",
        "name": "Store Thresholds",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "iot_org",
        "bucket": "iot_bucket",
        "x": 640,
        "y": 560,
        "wires": []
    },
    {
        "id": "thresh_inject_001",
        "type": "inject",
        "z": "16c28e429371841e",
        "name": "Init Default Thresholds",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 860,
        "wires": [
            [
                "thresh_default_fn_001"
            ]
        ]
    },
    {
        "id": "thresh_default_fn_001",
        "type": "function",
        "z": "16c28e429371841e",
        "name": "Default Thresholds",
        "func": "var defaults = {\n    \"temperature\": 30.0,\n    \"humidity\": 80.0,\n    \"co2\": 1000.0,\n    \"traffic_speed\": 80.0,\n    \"noise_level\": 85.0,\n    \"seismic\": 4.0,\n    \"rain_level\": 50.0\n};\n\nvar messages = [];\nvar types = Object.keys(defaults);\nfor (var i = 0; i < types.length; i++) {\n    var t = types[i];\n    messages.push({\n        measurement: \"thresholds\",\n        payload: [\n            { value: defaults[t] },\n            { type: String(t) }\n        ]\n    });\n}\nreturn [messages];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 860,
        "wires": [
            [
                "thresh_influx_001"
            ]
        ]
    },
    {
        "id": "f01d5a803f11b214",
        "type": "function",
        "z": "16c28e429371841e",
        "name": "Message Setup",
        "func": "var chatId = env.get(\"TELEGRAM_CHAT_ID\");\nvar data = msg.payload;\nvar messageText = \"\";\n\nif (data.active === true) {\n    // Red Alert Message\n    messageText = \"🔴 **EMERGENCY ALERT**\\n\\n\" +\n        \"Type: \" + data.type.toUpperCase() + \"\\n\" +\n        \"Location: \" + data.location + \"\\n\" +\n        \"Severity: \" + data.severity.toUpperCase() + \"\\n\" +\n        \"Timestamp: \" + data.timestamp + \"\\n\" +\n        \"Status: ACTIVE\";\n} else {\n    // Green Recovery Message\n    messageText = \"🟢 **RECOVERY STATUS**\\n\\n\" +\n        \"The emergency situation at \" + (data.location || \"the site\") + \" has been resolved.\\n\" +\n        \"Timestamp: \" + data.timestamp + \"\\n\" +\n        \"Status: RECOVERED\";\n}\n\nmsg.payload = {\n    chatId: chatId,\n    type: 'message',\n    content: messageText\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 760,
        "wires": [
            [
                "5ecafadf4c2b600c"
            ]
        ]
    }
]