nodered/data/.flows.json.backup
[
    {
        "id": "16c28e429371841e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b22a14a6c6c84ecf",
        "type": "mqtt-broker",
        "name": "MQTT Broker",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c32de8e4c8baefe3",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "InfluxDB",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "70bc6ce8758ac78b",
        "type": "mqtt in",
        "z": "16c28e429371841e",
        "name": "",
        "topic": "sensors/data",
        "qos": "2",
        "datatype": "json",
        "broker": "b22a14a6c6c84ecf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 160,
        "wires": [
            [
                "eaca2a9816b18617",
                "f4088b8a4cdfe38d"
            ]
        ]
    },
    {
        "id": "f4088b8a4cdfe38d",
        "type": "function",
        "z": "16c28e429371841e",
        "name": "JSON Parser",
        "func": "var data = msg.payload;\nif (typeof data === 'string') {\n    try {\n        data = JSON.parse(data);\n    } catch (e) {\n        node.warn(\"Error parsing JSON\");\n        return null;\n    }\n}\n\nmsg.payload = [\n    {\n        sensor_id: data.sensorid || \"unknown\",\n        temperature: parseFloat(data.value) || 0,\n        timestamp: data.timestamp ? new Date(data.timestamp) : new Date()\n    }\n];\nmsg.measurement = \"sensors\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 240,
        "wires": [
            [
                "ab641faf5dbb3994"
            ]
        ]
    },
    {
        "id": "eaca2a9816b18617",
        "type": "debug",
        "z": "16c28e429371841e",
        "name": "Debug Log",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 160,
        "wires": []
    },
    {
        "id": "ab641faf5dbb3994",
        "type": "influxdb out",
        "z": "16c28e429371841e",
        "d": true,
        "influxdb": "c32de8e4c8baefe3",
        "name": "",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "iot_org",
        "bucket": "iot_bucket",
        "x": 580,
        "y": 240,
        "wires": []
    }
]